{% import 'Modules/Quotes/Layout/Templates/Quote.html.twig' as quotesTemplates %}

<section id="quotesAllQuotesWidget" class="quotes quotes-widget">
  {% for quote in quotes %}
    {{ quotesTemplates.quote(quote) }}
  {% endfor %}
</section>
