{% import 'Modules/Quotes/Layout/Templates/Quote.html.twig' as macro %}

<section id="quotesAllQuotesWidget" class="quotes quotes-widget">
  {% for quote in quotes %}
    {{ macro.quote(quote) }}
  {% endfor %}
</section>
