{% import 'Modules/Quotes/Layout/Templates/Quote.html.twig' as macro %}

<section id="quotesRandomQuoteWidget" class="quotes quotes-widget">
  {% if quote %}
    {{ macro.quote(quote) }}
  {% endif %}
</section>
