{% import 'Modules/Quotes/Layout/Templates/Quote.html.twig' as quotesTemplates %}

<section id="quotesSingleQuoteWidget" class="quotes quotes-widget">
  {% if quote %}
    {{ quotesTemplates.quote(quote) }}
  {% endif %}
</section>
